header {
  background: url(../images/header_title.png) no-repeat;
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.award_container {
  background-color: #edf7fb !important;
  width: 300px;
  margin: auto;
}

h6 {
  color: #4facd9;
}

.award_container p {
  font-size: 15px;
  color: #8d8d8d;
}
