header {
    background: url(../images/elements/header_title.png) no-repeat;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.vt_container {
    background-color: #F1F8F9;
}

.vt_img {
    height: 400px;
    object-fit: cover !important;
    width: 100%;
    object-position: center;
}

h4 {
    color: #4FACD9;
}

.vt_container p {
    font-size: 15px;
    color: #8D8D8D;
}

#fixed_carousel {
    background-color: rgba(0, 0, 0, 0.855);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    align-items: center;
    display: none;
    justify-content: center;
    z-index: 100000;
}
.carousel-item{
    height: fit-content !important;
}
.carousel-caption{
    bottom: 0px !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.63) 50%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 0px !important;
    padding-top: 15px !important;
}