<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASE Holistic Cancer Center | Admin Home</title>

    <link rel="shortcut icon" href="../static/images/logo/EHCC.jpg">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Manual CSS-->
    <link rel="stylesheet" href="../static/stylesheets/common.css">
    <link rel="stylesheet" href="../static/stylesheets/adminHome.css">
</head>

<body>
    <!-- navbar -->
    {% include 'navbar.html' %}

    <div class="container">
        <div class="row justify-content-center px-3 mb-2">
            <div class="col-12 pb-4 pt-2 mt-5">
                <h2 class="mt-4 text-center">
                    <strong>
                        Admin Home
                    </strong>
                </h2>
                <p class="text-center">
                    <b>Logged in as:</b> {{session['user']}}
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="text-center col-lg-4 col-md-6 mb-5">
                    <div class="admin_card shadow py-5 rounded" onclick="window.location.href='/recentAppointments/'">
                        <img src="../static/images/icons/appointment.png" width="150" alt="">
                        <br><br>
                        Recent Appointments
                    </div>
                </div>
                <div class="text-center col-lg-4 col-md-6 mb-5">
                    <div class="admin_card shadow py-5 rounded" onclick="window.location.href='/manageAppointments/'">
                        <img src="../static/images/icons/appointment.png" width="150" alt="">
                        <br><br>
                        View all Appointments
                    </div>
                </div>
                {% if session["user_type"] == "admin" %}
                <div class="text-center col-lg-4 col-md-6 mb-5">
                    <div class="admin_card shadow py-5 rounded" onclick="window.location.href='/modifyPages/'">
                        <img src="../static/images/icons/website.png" width="150" alt="">
                        <br><br>
                        Modify Content
                    </div>
                </div>
                <div class="text-center col-lg-4 col-md-6 mb-5">
                    <div class="admin_card shadow py-5 rounded" onclick="window.location.href='/addPages/'">
                        <img src="../static/images/icons/medical-symbol.png" width="150" alt="">
                        <br><br>
                        Add Content
                    </div>
                </div>
                <div class="text-center col-lg-4 col-md-6 mb-5">
                    <div class="admin_card shadow py-5 rounded" onclick="window.location.href='/manageAdmins/'">
                        <img src="../static/images/icons/admin.png" width="150" alt="">
                        <br><br>
                        Manage Admins
                    </div>
                </div>
                <div class="text-center col-lg-4 col-md-6 mb-5">
                    <div class="admin_card shadow py-5 rounded" onclick="window.location.href='/managePatients/'">
                        <img src="../static/images/icons/patient.png" width="150" alt="">
                        <br><br>
                        Manage Patients
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Manual Scripts -->
    <script src="../static/scripts/common.js"></script>
</body>

</html>