<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EASE Holistic Cancer Center | Appointment</title>

  <!-- logo of the website -->
  <link rel="shortcut icon" href="../static/images/logo/EHCC.jpg">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Manual CSS-->
  <link rel="stylesheet" href="../static/stylesheets/common.css">
  <link rel="stylesheet" href="../static/stylesheets/appointment.css">
</head>

<body>
  <!-- navbar -->
  {% include 'navbar.html' %}

  {% if message is not none %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="window.location.href=''"></button>
        </div>
        <div class="modal-body">
          {{message}}
        </div>
      </div>
    </div>
  </div>
  <script>
    // open modal after page load
    window.onload = function () {
      var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
      })
      myModal.show()
    }
  </script>
  {% endif %}

  <header>
    <div class="container h-100 mt-3">
      <div class="row h-100 align-items-center">
        <h2 class="text-center text-white">
          Appointment
        </h2>
      </div>
    </div>
  </header>

  <section>
    <div class="container py-5 mt-5 px-4" style="background-color: #FAFAFE; border-radius: 30px;">
      <form action="/appointment" method="post">
        <div class="row">
          <h4 class="mb-4">
            Personal details
          </h4>
          {% if 'patient_email' in session %}

          <div class="col-lg-5 my-3">
            <div class="form-group">
              <input type="text" class="form-control" id="first_name" name="first_name"
                placeholder="First name* (Nilesh)" required value="{{patient_data[0]}}">
            </div>
          </div>
          <div class=" col-lg-5 my-3">
            <div class="form-group">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name* (Bhatt)"
                required value="{{patient_data[1]}}">
            </div>
          </div>
          <div class="col-lg-2 my-3">
            <select class="form-select" id="gender" name="gender" required>
              {% if patient_data[4] == 'male' %}
              <option disabled value="">Gender*</option>
              <option value="male" selected>Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
              {% elif patient_data[4] == 'female' %}
              <option disabled value="">Gender*</option>
              <option value="male">Male</option>
              <option value="female" selected>Female</option>
              <option value="other">Other</option>
              {% elif patient_data[4] == 'other' %}
              <option disabled value="">Gender*</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other" selected>Other</option>
              {% else %}
              <option disabled value="" selected>Gender*</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
              {% endif %}
            </select>
          </div>
          <div class="col-lg-5 my-3">
            <div class="form-group">
              <input type="number" class="form-control" id="number" name="number"
                placeholder="Phone number* (99XXXXXXXX)" required value="{{patient_data[2]}}" min="6666666666"
                max="9999999999">
            </div>
          </div>
          <div class="col-lg-7 my-3">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email"
                placeholder="Email ID* (nilesh.bhatt@gmail.com)" required value="{{patient_data[3]}}">
            </div>
          </div>
          {% else %}
          <div class="col-lg-5 my-3">
            <div class="form-group">
              <input type="text" class="form-control" id="first_name" name="first_name"
                placeholder="First name* (Nilesh)" required>
            </div>
          </div>
          <div class=" col-lg-5 my-3">
            <div class="form-group">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name* (Bhatt)"
                required>
            </div>
          </div>
          <div class="col-lg-2 my-3">
            <select class="form-select" id="gender" name="gender" required>
              <option disabled selected>Gender*</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="col-lg-5 my-3">
            <div class="form-group">
              <input type="number" class="form-control" id="number" name="number"
                placeholder="Phone number* (99XXXXXXXX)" required min="6666666666" max="9999999999">
            </div>
          </div>
          <div class="col-lg-7 my-3">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email"
                placeholder="Email ID* (nilesh.bhatt@gmail.com)" required>
            </div>
          </div>
          {% endif %}
          <hr class="my-4"
            style="background: linear-gradient(90deg, #FFFFFF 0%, #4FACD9 50%, #FFFFFF 100%) !important;  height: 2px; border: none;">
          <h4>
            Appointment*
          </h4>
          <div class="col-12 my-3">
            <select class="form-select" id="doctor" name="doctor" required>
              <option disabled selected>Doctor*</option>
              {% for doctor in doctors %}
              <option value="{{doctor[0]}}">{{doctor[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg-6 py-4 mb-4 position-relative">
            <label>
              <input type="radio" name="appointment_type" checked value="Doctor consultation" required>
              <span>Doctor consultation</span>
            </label>
          </div>
          <div class="col-lg-6 py-4 position-relative">
            <label>
              <input type="radio" name="appointment_type" value="Health checkup">
              <span>Health checkup</span>
            </label>
          </div>
          <hr class="mb-4 mt-5"
            style="background: linear-gradient(90deg, #FFFFFF 0%, #4FACD9 50%, #FFFFFF 100%) !important;  height: 2px; border: none;">
          <h4>
            Message
          </h4>
          <div class="col-12 py-4">
            <textarea class="form-control" id="message" rows="5" name="message"
              placeholder="Type your message (Optional)"></textarea>
          </div>
          <div class="col-12 text-center">
            <button id="submit_button" type="submit">
              Book appointment
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <br><br><br><br>

  <!-- footer -->
  {% include 'footer.html' %}

  <!-- Bootstrap JS -->
  <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
    </script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Manual Scripts -->
  <script src="../static/scripts/common.js"></script>
</body>

</html>