<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EASE Holistic Cancer Center | Doctor Info</title>

  <!-- logo of the website -->
  <link rel="shortcut icon" href="../static/images/logo/EHCC.jpg" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

  <!-- Manual CSS-->
  <link rel="stylesheet" href="../static/stylesheets/common.css" />
  <link rel="stylesheet" href="../static/stylesheets/doctor_info.css" />
</head>

<body>
  <!-- navbar -->
  {% include 'navbar.html' %}

  <div class="container" id="hero">
    <div class="row align-items-md-center justify-content-center">
      <div class="col-md-4 col-11">
        <img src="../static/images/Homepage/doctor_3.png" alt="doctor image" class="w-100" />
      </div>
      <div class="col-md-8 col-12 mt-3">
        <div class="row mx-md-4 mx-2">
          <div class="col-md-6 col-12">
            <strong>Name:</strong>
          </div>
          <div class="col-md-6 col-12">Dr. Jina loren</div>
          <div class="col-md-6 col-12">
            <strong>Qualifications:</strong>
          </div>
          <div class="col-md-6 col-12">M.B.B.S, M.D. (Anaesthesia)</div>
          <div class="col-md-6 col-12">
            <strong>Post Qualifications:</strong>
          </div>
          <div class="col-md-6 col-12">12 years</div>
          <div class="col-md-6 col-12">
            <strong>Overseas Experience:</strong>
          </div>
          <div class="col-md-6 col-12">4 years</div>
          <div class="col-md-6 col-12">
            <strong>Current Appointment:</strong>
          </div>
          <div class="col-md-6 col-12">Senior Consultant Anaesthetist</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-4 about_section">
    <div class="row px-3">
      <div class="col-2 underline1">
        <strong>
          <h3>About</h3>
        </strong>
      </div>
      <div class="col-10 underline2"></div>
      <div class="col-12">
        <p class="my-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          hendrerit egestas vehicula. Donec felis risus, lobortis sed purus
          vitae, commodo luctus dui. Etiam a euismod arcu, ac consequat justo.
          Integer sit amet urna est. Phasellus venenatis ante sit amet sapien
          rhoncus, ac ornare eros aliquam. Phasellus mauris tellus, feugiat
          eget quam ac, aliquam condimentum ligula. Ut nec scelerisque sapien.
          Sed ut efficitur neque. Nulla blandit nunc sem, ut eleifend massa
          venenatis id. Nullam eget purus in risus sodales varius vitae non
          mi. Donec blandit augue ut ante facilisis consectetur. Quisque ut
          scelerisque elit. Nullam tempus ultrices sem sit amet laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="container my-4 degree_section">
    <div class="row px-3">
      <div class="col-2 underline1">
        <strong>
          <h3>Degree</h3>
        </strong>
      </div>
      <div class="col-10 underline2"></div>
    </div>
    <div class="row px-3 my-3">
      <div class="col-md-3 col-12">M.B.B.S</div>
      <div class="col-md-6 col-12">
        Seth G.S. Medical College and K.E.M. Hospital, Mumbai
      </div>
      <div class="col-md-3 col-12 mb-3">2000</div>

      <div class="col-md-3 col-12">M.B.B.S</div>
      <div class="col-md-6 col-12">
        Seth G.S. Medical College and K.E.M. Hospital, Mumbai
      </div>
      <div class="col-md-3 col-12 mb-3">2000</div>

      <div class="col-md-3 col-12">M.B.B.S</div>
      <div class="col-md-6 col-12">
        Seth G.S. Medical College and K.E.M. Hospital, Mumbai
      </div>
      <div class="col-md-3 col-12 mb-3">2000</div>
    </div>
  </div>

  <div class="container my-5 experience_section">
    <div class="row px-3">
      <div class="col-2 underline1">
        <strong>
          <h3>Experience</h3>
        </strong>
      </div>
      <div class="col-10 underline2"></div>
    </div>
    <div class="row my-3 px-3">
      <div class="col-md-9 col-12">Northern General Hospital, Sheffield</div>
      <div class="col-md-3 col-12 mb-3 ">1997-2000</div>
      <div class="col-md-9 col-12">Northern General Hospital, Sheffield</div>
      <div class="col-md-3 col-12 mb-3 ">2000-2005</div>
      <div class="col-md-9 col-12">Northern General Hospital, Sheffield</div>
      <div class="col-md-3 col-12 mb-3 ">2005-present</div>
    </div>
  </div>

  <!-- footer -->
  {% include 'footer.html' %}
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Manual Scripts -->
  <script src="../static/scripts/common.js"></script>
  <script src="../static/scripts/doctors.js"></script>
</body>

</html>