<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-8 px-md-5 mt-4 mb-3">
                <img src="../static/images/logo/footer_logo.png" alt="Hospital logo" height="60" />
                <p class="text-white mb-0">
                    Now cure of cancer is more easy with EHCC
                </p>
            </div>
            <div class="col-md-4 pt-4 mb-3">
                <img src="../static/images/logo/google_icon.png" alt="google logo" class="img-fluid mx-2" /><img
                    src="../static/images/logo/instagram_icon.png" alt="Instagram logo" class="img-fluid mx-2" /><img
                    src="../static/images/logo/facebook_icon.png" alt="Facebook logo" class="img-fluid mx-2" /><img
                    src="../static/images/logo/twitter_icon.png" alt="Twitter logo" class="img-fluid mx-2" />
            </div>
        </div>
        <div class="footer_line mt-2"></div>
        <div class="row text-white pt-4 ps-md-5 footer_links">
            <div class="col-md-4 col-sm-6 mb-4">
                <h4 class="mb-3">Useful links</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-6">
                        <a href="/">
                            <p>Home</p>
                        </a>
                        <a href="/about">
                            <p>About Us</p>
                        </a>
                        <a href="#">
                            <p>Specialty</p>
                        </a>
                        <a href="/doctors">
                            <p>Doctors</p>
                        </a>
                        <a href="/news">
                            <p>Latest News</p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-6">
                        <a href="/awards">
                            <p>Awards</p>
                        </a>
                        <a href="/blogs">
                            <p>Blogs</p>
                        </a>
                        <a href="#">
                            <p>Contact Us</p>
                        </a>
                        <a href="#">
                            <p>Patient Care</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 g-md-0">
                <h4 class="mb-3">Specialties</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-6">
                        <p>Breast Cancer</p>
                        <p>Homeopathy</p>
                        <p>Colon Cancer</p>
                        <p>Piles/Fistula</p>
                        <p>Gall bladder</p>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-6">
                        <p>Hernia</p>
                        <p>Stomach Cancer</p>
                        <p>Stomach cancer</p>
                        <p>Renal cancer</p>
                        <p>Prostate cancer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4 class="mb-3">Contact details</h4>
                <p>
                    <img src="../static/images/logo/footercall_icon.png" alt="call logo" /><span class="ps-2">+91 12345
                        63437</span>
                </p>
                <p>
                    <img src="../static/images/logo/mail_icon.png" alt="mail icon" /><span
                        class="ps-2">ehcc@gmail.com</span>
                </p>
                <p>
                    <img src="../static/images/logo/location_icon.png" alt="location icon" /><span class="ps-2">First
                        Floor,
                        Silver Point, Nr.Nidhi Hospital,Stadium Five Cross
                        Road, Navrangpura.</span>
                </p>
            </div>
        </div>
        <div class="row my-2">
            <div class="footer_line_2"></div>
        </div>
        <div class="row text-white">
            <div class="py-2 text-center">
                @2022 Ease Homoeopathy. All Rights Reserved
            </div>
            <div class="text-center">
                Developed by <a href="" class="footer_credit">Yashvi Shukla</a></br></br>
            </div>
        </div>
    </div>
</div>