<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EASE Holistic Cancer Center | Home</title>

  <!-- logo of the website -->
  <link rel="shortcut icon" href="../static/images/logo/EHCC.jpg">

  <!-- slick-carousel -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <!-- Manual CSS-->
  <link rel="stylesheet" href="../static/stylesheets/common.css">
  <link rel="stylesheet" href="../static/stylesheets/index.css">
</head>

<body>
  {% include 'navbar.html' %}

  <!-- Main Top Section -->
  <div id="Carousel_mainpage" class="carousel slide py-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- <div class="carousel-item active" data-bs-interval="4000">
        <img src="../static/images/Homepage/Carousel.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../static/images/Homepage/Carousel_1.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../static/images/Homepage/Carousel.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../static/images/Homepage/Carousel_1.png" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="000">
        <img src="../static/images/Homepage/Carousel.png" class="d-block w-100" alt="..." />
      </div> -->
      <div class="carousel-item active" data-bs-interval="4000">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 text-center order-lg-2 mb-4">
              <img src="../static/images/Homepage/Carousel_1_image.png" class="w-75" alt="">
            </div>
            <div class="col-lg-6 text-white order-lg-1 px-5">
              <h1>
                Dedicated to Hope, Healing & Recovery of cancer
              </h1>
              <p>
                We take a further step to cure dangerous cancer with expert and experienced doctors team
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container doctor py-5">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <h2 class="doctor_heading">Meet Our Expert Doctors</h2>
      </div>
      <div class="col-lg-6 text-lg-end">
        <button class="button_cta_appointment" onclick="window.location.href='/doctors'">See All</button>
      </div>
    </div>
  </div>

  <div class="doctor_carousel_container py-5">
    <div class="container">
      <div class="row px-2">
        <div class="col-12 doctor_carousel">
          <div class="doctor_card">
            <img src="../static/images/doctors/doctor_1.png" alt="doctor-image">
            <span></span>
            <div class="p-3">
              <h6>Breast Surgeon</h6>
              <h3>Dr. jaen Waren</h3>
            </div>
          </div>
          <div class="doctor_card">
            <img src="../static/images/doctors/doctor_2.png" alt="doctor-image">
            <span></span>
            <div class="p-3">
              <h6>Breast Surgeon</h6>
              <h3>Dr. jaen Waren</h3>
            </div>
          </div>
          <div class="doctor_card">
            <img src="../static/images/doctors/doctor_3.png" alt="doctor-image">
            <span></span>
            <div class="p-3">
              <h6>Breast Surgeon</h6>
              <h3>Dr. jaen Waren</h3>
            </div>
          </div>
          <div class="doctor_card">
            <img src="../static/images/doctors/doctor_1.png" alt="doctor-image">
            <span></span>
            <div class="p-3">
              <h6>Breast Surgeon</h6>
              <h3>Dr. jaen Waren</h3>
            </div>
          </div>
          <div class="doctor_card">
            <img src="../static/images/doctors/doctor_2.png" alt="doctor-image">
            <span></span>
            <div class="p-3">
              <h6>Breast Surgeon</h6>
              <h3>Dr. jaen Waren</h3>
            </div>
          </div>
          <div class="doctor_card">
            <img src="../static/images/doctors/doctor_3.png" alt="doctor-image">
            <span></span>
            <div class="p-3">
              <h6>Breast Surgeon</h6>
              <h3>Dr. jaen Waren</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="statistics">
    <div class="container py-5">
      <div class="row text-center">
        <h2 class="my-2">Statistics</h2>
        <p class="mb-5">We are growing with numbers that never lie</p>
      </div>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 px-4">
          <div class="statistics_card">
            <h3>30+</h3>
            <p>Years of Experience</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 px-4">
          <div class="statistics_card">
            <h3>4500+</h3>
            <p>Happy patients</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 px-4">
          <div class="statistics_card">
            <h3>85+</h3>
            <p>Number of Doctors</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 px-4">
          <div class="statistics_card">
            <h3>300+</h3>
            <p>Number of Staffs</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- appointment section -->
  <div class="appointment_section mt-5 py-2">
    <div class="container">
      <div class="row text-center">
        <h3 class="my-4">Still looking best option to cure your cancer</h3>
        <p>
          Just get appointment and we will get back to you and gives you best
          cure we can provide
        </p>
        <a href=""><button class="button_cta_appointment m-3">Appointment</button></a>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- slick-carousel -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <!-- Manual Scripts -->
  <script src="../static/scripts/common.js"></script>
  <script src="../static/scripts/index.js"></script>
</body>

</html>