<!-- navbar -->
<div class="fixed-top">
    <div id="top_navbar" class="py-2">
        <div class="container-fluid px-4">
            <div class="row align-items-center">
                <div class="col-lg-6 text-lg-start text-center mb-2">
                    <a href="/" class="top_navbar_logo">
                        <img src="../../static/images/logo/navbar_logo.png" alt="Hospital logo" height="60"
                            id="navbar_logo_top" />
                    </a>
                </div>
                <div class="col-lg-6 text-lg-end text-center mb-3">

                    <button class="button_cta_appointment mt-2" style="background-color: white; color: black;"
                        onclick="window.location.href='tel:911234567890'">+91 12345 67890</button>
                    <button class="button_cta_appointment mt-2"
                        onclick="window.location.href='/appointment/'">Appointment</button>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg bg-white shadow">
        <div class="container-fluid pt-2">
            <a class="navbar-brand bottom_navbar_logo" href="/"><img src="../../static/images/logo/navbar_logo.png"
                    height="60" alt="Hospital logo" id="navbar_logo_bottom" /></a>
            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto mb-2 mb-lg-md-0">
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/about/">About Us</a>
                    </li>
                    <li class="nav-item mx-3 dropdown">
                        <a href="" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"
                            href="/specialty/">Specialty</a>
                        <ul class="dropdown-menu">
                            {% for specialty in navbar_specialties %}
                            <li>
                                <a href="/diseases/{{specialty[0]}}/" class="dropdown-item specialty_navbar_dropdown">{{
                                    specialty[1] }}
                                    &raquo;</a>
                                <ul class="dropdown-menu submenu">
                                    {% for disease in navbar_diseases %}
                                    {% if disease[0] == specialty[0] %}
                                    <li><a href="/disease/{{disease[0]}}/" class="dropdown-item">{{disease[1]}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/doctors">Doctors</a>
                    </li>
                    <li class="nav-item mx-3 dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/news/">Latest News</a></li>
                            <li><a class="dropdown-item" href="/awards/">Awards</a></li>
                            <li><a class="dropdown-item" href="/blogs/">Blogs</a></li>
                            <li><a class="dropdown-item" href="/virtualTour/">Virtual Tour</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mx-3 dropdown">
                        <a class="nav-link active dropdown-toggle active" role="button" href="/patientCare"
                            data-bs-toggle="dropdown" aria-expanded="false">Patient Care</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/bmi/">
                                    BMI Calculator
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/bmr/">
                                    BMR Calculator
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/">
                                    Calorie Calculator
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/">
                                    Exercise Calculator
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/">
                                    Break
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link active" aria-current="page" href="/contact/">Contact Us</a>
                    </li>
                    <li>
                        <button class="button_cta_white" onclick="window.location.href='/patient/'" id="patient_home"
                            style="visibility: hidden;">
                            Patient Login
                        </button>

                        <button class="button_cta_white logout" onclick="window.location.href='/logoutPatient/'"
                            id="patient_logout" style="visibility: hidden;">
                            Patient Logout
                        </button>

                        <button class="button_cta_white" onclick="window.location.href='/admin/'" id="admin_home"
                            style="visibility: hidden;">
                            Admin Home
                        </button>

                        <button class="button_cta_white logout" onclick="window.location.href='/logoutAdmin/'"
                            id="admin_logout" style="visibility: hidden;">
                            Admin Logout
                        </button>
                        <script>
                            // Get route
                            var route = window.location.pathname;
                            if (route == '/patient/') {
                                document.getElementById('patient_logout').style.visibility = 'visible';
                                document.getElementById('patient_home').style.display = 'none';
                                document.getElementById('admin_home').style.display = 'none';
                                document.getElementById('admin_logout').style.display = 'none';
                            } else if (route == '/admin/') {
                                document.getElementById('admin_logout').style.visibility = 'visible';
                                document.getElementById('admin_home').style.display = 'none';
                                document.getElementById('patient_logout').style.display = 'none';
                                document.getElementById('patient_home').style.display = 'none';
                            } else {
                                if (route.match('/manage') || route.match('/viewAppointment/') || route.match('/modify')) {
                                    document.getElementById('patient_home').style.display = 'none';
                                    document.getElementById('patient_logout').style.display = 'none';
                                    document.getElementById('admin_home').style.visibility = 'visible';
                                    document.getElementById('admin_logout').style.display = 'none';
                                }
                                else {
                                    document.getElementById('patient_home').style.visibility = 'visible';
                                    document.getElementById('patient_logout').style.display = 'none';
                                    document.getElementById('admin_logout').style.display = 'none';
                                    document.getElementById('admin_home').style.display = 'none';
                                }
                            }
                        </script>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>