<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASE Holistic Cancer Center | Virtual Tour</title>

    <!-- logo of the website -->
    <link rel="shortcut icon" href="../static/images/logo/EHCC.jpg">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Manual CSS-->
    <link rel="stylesheet" href="../static/stylesheets/common.css">
    <link rel="stylesheet" href="../static/stylesheets/virtualTour.css">
</head>

<body>
    <!-- navbar -->
    <div id="top_navbar" class="py-2">
        <div class="container-fluid px-4">
          <div class="row align-items-center">
            <div class="col-lg-6 text-lg-start text-center mb-2">
              <a href="#" class="top_navbar_logo">
                <img
                  src="../static/images/logo/navbar_logo.png"
                  alt="Hospital logo"
                />
              </a>
            </div>
            <div class="col-lg-6 text-lg-end text-center mb-2">
              <button class="button_cta_white me-2">
                <img
                  src="../static/images/logo/call_logo.png"
                  alt="call logo"
                  class="me-2"
                />+91 213-4567-898
              </button>
              <button class="button_cta_appointment">Appointment</button>
            </div>
          </div>
        </div>
      </div>
  
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand bottom_navbar_logo" href="#"
            ><img src="../static/images/logo/navbar_logo.png" alt="Hospital logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-md-0">
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >About Us</a
                >
              </li>
              <li class="nav-item mx-3 dropdown">
                <a
                  class="nav-link dropdown-toggle active"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Speciality
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Doctors</a
                >
              </li>
              <li class="nav-item mx-3 dropdown">
                <a
                  class="nav-link dropdown-toggle active"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Resources
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Contact Us</a
                >
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Patient Care</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <header>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <h2 class="text-center text-white">
                    Virtual Tour
                </h2>
            </div>
        </div>
    </header>

    <section class="my-5">
        <div class="vt_container">
            <div class="container py-5">
                <div class="row">
                    {% for vt in data %}
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-5">
                        <div class="bg-white pb-2">
                            <img src="{{vt[0]}}" class="vt_img" alt="">
                            <h4 class="px-2 mt-3">
                                {{vt[1]}}
                            </h4>
                            <p class="mt-2 px-2">
                                {{vt[2]}}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <div class="footer">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-8 col-md-6 px-md-5 mt-4 mb-3">
              <img
                src="../static/images/logo/footer_logo.png"
                alt="Hospital logo"
                class="img-fluid"
              />
              <p class="text-white ps-2 mb-0">
                Now cure of cancer is more easy with EHCC
              </p>
            </div>
            <div class="col-lg-4 col-md-6 pt-4 mb-3">
              <img
                src="../static/images/logo/google_icon.png"
                alt="google logo"
                class="img-fluid mx-2"
              /><img
                src="../static/images/logo/instagram_icon.png"
                alt="Instagram logo"
                class="img-fluid mx-2"
              /><img
                src="../static/images/logo/facebook_icon.png"
                alt="Facebook logo"
                class="img-fluid mx-2"
              /><img
                src="../static/images/logo/twitter_icon.png"
                alt="Twitter logo"
                class="img-fluid mx-2"
              />
            </div>
          </div>
          <div class="footer_line"></div>
          <div class="row text-white pt-2 ps-md-5">
            <div class="col-md-3 col-sm-6 mb-4">
              <h4 class="mb-4">Useful links</h4>
              <p>Home</p>
              <p>About Us</p>
              <p>Specialty</p>
              <p>Doctors</p>
              <p>Resources</p>
              <p>Contact Us</p>
              <p>Patient Care</p>
            </div>
            <div class="col-md-5 col-sm-6 mb-4 g-md-0">
              <h4 class="mb-4">Specialties</h4>
              <div class="row">
                <div class="col-6">
                  <p>Breast Cancer</p>
                  <p>Homeopathy</p>
                  <p>Colon Cancer</p>
                  <p>Piles/Fistula</p>
                  <p>Gall bladder</p>
                  <p>Hernia</p>
                  <p>Stomach Cancer</p>
                </div>
                <div class="col-6 g-0">
                  <p>Stomach cancer</p>
                  <p>Renal cancer</p>
                  <p>Prostate cancer</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <h4 class="mb-4">Contact details</h4>
              <p>
                <img
                  src="../static/images/logo/footercall_icon.png"
                  alt="call logo"
                /><span class="ps-2">+91 12345 63437</span>
              </p>
              <p>
                <img
                  src="../static/images/logo/mail_icon.png"
                  alt="mail icon"
                /><span class="ps-2">loremipsum@gmail.com</span>
              </p>
              <p>
                <img
                  src="../static/images/logo/location_icon.png"
                  alt="location icon"
                /><span class="ps-2"
                  >First Floor, Silver Point, Nr.Nidhi Hospital,Stadium Five Cross
                  Road, Navrangpura.</span
                >
              </p>
            </div>
          </div>
          <div class="row">
            <div class="footer_line_2"></div>
          </div>
          <div class="row text-white">
            <div class="py-2 text-center">
              @2022 Ease Homoeopathy. All Rights Reserved
            </div>
            <div class="text-center">
              Developed by <a href="" class="footer_credit">Yashvi Shukla</a></br></br>
            </div>
          </div>
        </div>
      </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Manual Scripts -->
    <script src="../static/scripts/common.js"></script>
    <script src="../static/scripts/virtualTour.js"></script>
</body>

</html>